# IDE
.idea
.vscode

# Python cache
*.pyc
__pycache__/

# Shell scripts
*.sh

# Training or inference
training/config.yaml
local_tools/
*.ckpt
*.pth
infer_out/
*.onnx
checkpoints/

# Data
data/
*.pkf
*.wav
*.json
*.flac
*.xmp

# Compressed data
*.zip
*.7z
*.rar